@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add your custom styles here */

main > button{
    background-color: skyblue ;
    font-weight: 700;
    padding: 2rem 4rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    /* width: 300px; */
    &:hover{
        background-color: lightblue;

    }
    &:active{
        background-color: navy;
    }
}